[submodule "tundra-vault-frontend"]
	path = tundra-vault-frontend
	url = https://github.com/bowlarbear/tundra-vault-frontend
[submodule "tauri"]
	path = tauri
	url = https://github.com/bowlarbear/tauri.git
