[Desktop Entry]
Version=1.0
Name=Tundra-vault
Exec=/home/ubuntu/tundra-vault
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/ubuntu/tundra-vault.jpeg
StartupNotify=true
