[Desktop Entry]
Version=1.0
Name=Tundra
Exec=/home/ubuntu/tundra
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/ubuntu/tundra.jpeg
StartupNotify=true
